More of a curious question than a review (feel free to ignore):

Why expose this websocket detail to a higher level? Shouldn't the keepalive be entirely handled by the websocket connection? Or wouldn't one want the higher level to introduce their own heartbeat mechanism e.g. with their own `Ping` and `Pong` messages on top of a websocket connection?

(Maybe a bit far fetched but TCP also does not expose `ACK`s used for retransmission to its higher users - please correct me if I am wrong.)

> Why expose this websocket detail to a higher level? Shouldn't the keepalive be entirely handled by the websocket connection?

This crate aims to implement RFC 6455 and PINGs and PONGs are part of it and their roles are more nuanced than just "keep alive":

> *A Ping frame may serve either as a keepalive or as a means to verify that the remote endpoint is still responsive. [...] A Pong frame MAY be sent unsolicited.  This serves as a unidirectional heartbeat.* [[RFC 6455, section 5.5.2 - 5.5.3]](https://tools.ietf.org/html/rfc6455#section-5.5.2)

Since we can not anticipate how applications want to use PINGs and PONGs they should be made available IMO.

> Or wouldn't one want the higher level to introduce their own heartbeat mechanism e.g. with their own `Ping` and `Pong` messages on top of a websocket connection?

Indeed, it is up to the application to decide how to make use of those messages (n.b. PING and PONG accept payloads). The only help we offer is that we automatically answer incoming PINGs so applications do not have to deal with this aspect and the RFC is explicit that "*Upon receipt of a Ping frame, an endpoint MUST send a Pong frame in response [...]*" [[RFC 6455, section 5.5.2]](https://tools.ietf.org/html/rfc6455#section-5.5.2), so there is no leeway here.